*{
	margin:0;
	padding: 0;
}
li{
	width: 10%;
	height: 70px;
	border: 3px solid;
	border-color: red;
	list-style-type: none;
	display:inline-block;
	background-color: black;
}
.container{
	margin-left:200px;
	margin-top:70px;
}
.ball{
	position: absolute;
	margin-top: 10px;
	margin-left:10px;
	height: 25px;
	width: 25px;
	border-radius: 15px;
}
.ball1{
	margin-left: 30px;
}
.ball2{
	margin-left: 20px;
	margin-top: 25px;
}
.green{
	background-color: green;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.yellow{
	background-color: yellow;
}
.pink{
	background-color: pink;
}
.brown{
	background-color: brown;
}
.cyan{
	background-color: cyan;
}
.violet{
	background-color: violet;
}
.indigo{
	background-color: indigo;
}
.orange{
	background-color: orange;
}
@-webkit-keyframes rotateBall
{
	from {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	to {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}
@keyframes rotateBall
{
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}
.rotateB{
	-webkit-animation: rotateBall 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation: rotateBall 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: running;
}
.hide{
	display: none;
}
.show{
	display: block;
}